# required dependencies for https://github.com/WolfgangFahl/pyOnlineSpreadSheetEditing
# https://github.com/WolfgangFahl/py-3rdparty-mediawiki
py-3rdparty-mediawiki>=0.8.1
# https://pypi.org/project/ruamel.yaml/
ruamel.yaml
# https://pypi.org/project/justpy/
justpy>=0.12.1
# https://pypi.org/project/python-dateutil/
python-dateutil
# https://pypi.org/project/pyGenericSpreadSheet/
pyGenericSpreadSheet>=0.2.4
# https://pypi.org/project/pyJustpyWidgets/
pyJustpyWidgets>=0.1.13
