{% extends 'fb4common/base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block content %}
<h2>Online Spreadsheet Editing</h2>
	{% if current_user.is_anonymous %}
	You might want to log in to use the services offered here
	{% endif %}
    <ul>{% if menu %}{% for menuItem in menu.items %}
      <li><a href="{{ menuItem.url }}">{% if menuItem.mdiIcon %}<span class='material-icons'>{{ menuItem.mdiIcon }}</span>{% endif %} {{ menuItem.title }}</a>{% endfor %}
    </ul>{% endif %}
{% endblock %}