{% extends 'fb4common/base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block content %}
{% if psForm.propertySelectorField.available() %}
<!--  property selection -->
<div class="row">
  <div class="form-group col-md-12">
	{{ render_form(psForm) }}
  </div>
</div>
{%endif %}
{% endblock %}
{% block scripts %}
    {{ super() }}
<script type="text/javascript">
// Set all check boxes : 
// Setting the checked property to the wanted value for all elements with the given name
  function setAllCheckBoxes(name,checked){
    var items = document.getElementsByName(name);
      for (var i = 0; i < items.length; i++) {
          if (items[i].type == 'checkbox')
              items[i].checked = checked;
      }
  }
</script>
{% endblock %}
