{% extends 'fb4common/base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block content %}
{% if title is not none %}<h2>{{ title }}</h2>{%endif %}
{{ render_form(ttForm) }}
{% if queryHigh is not none %}{{ queryHigh | safe }}{%endif %}
{% if dictList is not none %}
{{ macros.table4DictList(dictList,lodKeys=lodKeys, tableHeaders=tableHeaders) }}
{%endif %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ macros.loadDataTable() }}
    {{ macros.activateDataTable() }}
{% endblock %}